html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    flood-color: rgb(214, 201, 153);
}

img {
    max-width: 100%;
    height: 30%;
    display:block
    float: left;
}



h1 {
    font-size: 6rem;
    text-align-last: center;
    color: rgb(255, 208, 0);

}

h2 {
    font-size: 3.2rem;
    color: rgb(28, 90, 54);
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.columna {
    float: left;
    width: 33%;
    padding-right: 5px;
}

.entrada-blog a {
    display: inline-block;
    background-color: #a3a3a3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

.navegacion{
    background-color: beige;
}

.enlace{
    display: block;
    text-align: center;text-decoration: none;
    color: rgb(52, 51, 51);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border: 1px solid #4d5052;
    border-radius: 10px;
    text-shadow: inset 1px 1px 1px white;


}
.enlace:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 238, 85);
}

@media(min-width: 480px){
    .colunm-drop-flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }
    .navegacion{
        flex-basis: 100%;

        display: flex;
        justify-content: space-evenly;



        background-color: beige;

        
    }
    .contenido-pricipal, .primera{
        flex-basis: calc(100% - 3rem);
    }
}
.segundafoto {
    display: inline-block;
    background-color: beige;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}


.img{
    max-width: 100%;
    
}
@media (min-width: 768px){
    .segundafoto{
        display:flex;
        gap: 2rem;
    }
}



.linea-c{
    display: inline-block;
    width: 100%;
    height: 10rem;
    background: #fffc42;
    text-align-last: center;
}
     /*<img src="img/logo.jpg" alt="foto_logo" width="6%" height="6%" >*/
     /*   https://perjured-shore.000webhostapp.com/   */